@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";

.chatWrapper {
    font-family: "Roboto", sans-serif;
    margin: 0.05em auto 0.05em auto;
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: green;
}


/* Левая часть чата */
.chatWrapper .left {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    border-right: 0.063em solid #4CA5FF;
}


/* Голова левой части */
.chatWrapper .header {
    background-color: #FEFEFE;
    display: flex;
    padding: 0.5em 1.25em;
    flex-direction: row;
    justify-content: flex-end;
}
/* Меню */
.menu {
    position: relative;
    display: inline-block;
}
.menuButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 42px;
    width: 42px;
}
.lines {
    background-color: #4ca5ff;
    height: 5px;
    width: 100%;
    border-radius: 35px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fefefe;
    min-width: 190px;
    box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.08);
    z-index: 1;
}
.dropdown-content a {
    color: #797676;
    padding: 0.625em 0.875em;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgb(248, 247, 247);
}
.menu:hover .dropdown-content {
    display: block;
}
.profile {
    opacity: 0;
    background: rgba(0,0,0,0.7); 
    pointer-events: none; 
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
}
.profile:target {
    opacity: 1; 
    pointer-events: auto;
    overflow-y: auto;
}
.profileWrapper {
    margin:auto; 
    margin-top:25vh;
}
.profileInner {
    position: relative;
    background: #F7F8F9; 
    border-radius: 10px;  
    border: 0.25em solid #4CA5FF
}
.profileHeader {
    padding: 15px; 
    background:#F7F8F9; 
    position:relative;
    border-radius: 10px 10px 0 0;
    border-bottom: 0.25em solid #4CA5FF;
}
.profileTitle {
    font-size: 18px; 
    color:#000000; 
    font-weight:bold;  
    margin-top: 5px;
    margin-bottom: 5px;
}
.close {
    position:absolute;
    top:15px; 
    right:10px; 
    font-size: 24px;
    color: #555; 
    text-decoration: none;
}
.close:hover, .close:focus {
    color: #000;  
    cursor: pointer;
}
.profileText {
    padding: 15px 20px; 
    font-size: 12px;
    color: #797676;
}
@media (min-width: 550px) {
    .profileWrapper {
    max-width: 300px;
    }
}

/* Поиск */
.chatWrapper .searchDiv {
    padding-left: 1.56em;
}
.chatWrapper .searchDiv input {
  width: 16.3em;
  height: 2.5em;
  padding-left: 0.6em;
  border: none;
  border-radius: 0.7em;
  outline: none;
  background: #F7F8F9;
  color: #9E9C9C;
}


/* Диалоги */
.chatWrapper .dialogs {
    flex-grow: 1;
    border-top: 0.063em solid #4CA5FF;
    background-color:#FEFEFE;
}
/* Диалог */
.chatWrapper .dialog {
    margin: 1.25em;
    height: 3.125em;
    display: flex;
}
.chatWrapper .avatar {
    background: #8DFB4E;
    background: -webkit-linear-gradient(bottom right, #8DFB4E, #A3DBD9);
    background: -moz-linear-gradient(bottom right, #8DFB4E, #A3DBD9);
    background: linear-gradient(to top left, #8DFB4E, #A3DBD9);
    height: 2.813em;
    width: 2.813em;
    border-radius: 100%;
    margin: 0.125em;
}

/* Информация в чате */
.chatWrapper .infoDialog {
    width: 70%;
    padding: 0.225em 0.625em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chatWrapper .topInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.chatWrapper .bottomInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chatWrapper .check {
    width: 0.938em;
    height: 0.938em;
    background-color: #F44336;
    border-radius: 100%;
}
/* Шрифты*/
.chatWrapper .name {
    font-weight: 500;
    color: #202020;
}
.chatWrapper .info {
    font-weight: 300;
    color: #707070;
}



/* Правая часть чата */
.chatWrapper .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color:#FEFEFE;
}
/* Голова правой части */
.chatWrapper .status {
    margin: 0 auto;
    padding: 1.313em 1.25em;
    display: flex;
    flex-direction: column;
    width: auto;
}
/* Основная часть чата */
.chatWrapper .main {
    border-top: 0.063em solid #4CA5FF;
}
/* Окно с сообщениями */
.chatWrapper .messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85vh;
}
/* Входящие сообщения */
.chatWrapper .incomingLetterWrapper {
    display: flex;
    align-self: flex-start;
    margin: 1em;
    width: 40%;
    height: 5.000em;
    /* background-color: pink; */
}
.chatWrapper .incomingLetterWrapper .inLetter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4CA5FF;
    width: 85%;
    height: 50%;
    border-radius: 0.625em 0.625em 0.625em 0;
}
.chatWrapper .incomingLetterWrapper span {
    margin-left: 1em;
    font-weight: 300;
    color: white;
}
/* Исходящие сообщения */
.chatWrapper .outcomingLetterWrapper {
    display: flex;
    align-self: flex-end;
    margin: 1em;
    width: 40%;
    height: 5.000em;
    /* background-color: pink; */
}
.chatWrapper .outcomingLetterWrapper .inLetter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F2F2;
    width: 85%;
    height: 50%;
    border-radius: 0.625em 0.625em 0 0.625em;
}
.chatWrapper .outcomingLetterWrapper span {
    margin-left: 1em;
    font-weight: 300;
    color: #202020;
}

/* Отправка сообщений */
.chatWrapper .message {
    border-top: 0.063em solid #4CA5FF;
    display: flex;
    justify-content: center;
    width: auto;
}
.chatWrapper .messageForm {
    padding: 0.8em;
    width: 90%;
}
.chatWrapper .messageForm input{
    width: 90%;
    height: 2.5em;
    padding-left: 0.6em;
    border: 0.25em solid #4CA5FF;
    border-radius: 0.7em 0 0 0.7em;
    outline: none;
    background: #FFFFFF;
    color: #9E9C9C;
}
.chatWrapper .messageForm button{
    height: 2.5em;
    width: 5%;
    border: none;
    background: #4CA5FF;
    border-radius: 0 0.7em 0.7em 0;
    cursor: pointer;
}
